<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">설문지 인식 솔루션</h1>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    문서 업로드
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        <br />
                        <div class='file_input'>
                            <input type='text' readonly='readonly' id='file_route'>
                            <label>
                                <input type='file' name="files" id="files" multiple="" directory="" webkitdirectory=""
                            mozdirectory=""  onchange="javascript:document.getElementById('file_route').value=this.value">
                                <button class="btn btn-primary btn-icon-split" >
                                    <span class="text">전송</span>
                                    <!-- <i class="fas fa-search fa-sm"></i> -->
                                </button>
                            </label>
                        </div>
                        <!-- <textarea name='contents' cols="50" , rows="5" class="form-control form-control-sm"></textarea> -->
                        <!-- <input type='file' name='files' multiple class="form-control form-control-sm" /> multiple:파일여러개 보낼수 있음 -->
                        <!-- <input type='text' readonly='readonly' id='file_route'>
                        <label>
                            <div class="input-group-append">
                            <input type="file" class="form-control bg-light border-2" value='폴더선택'>
                                
                                <button class="btn btn-primary" type="button">
                                    <span class="text">전송</span>
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </label> -->
                        <!-- <input type='file' name="files[]" id="files" multiple="" directory="" webkitdirectory=""
                            mozdirectory="" />
                        <br />
                        <button class="btn btn-primary btn-icon-split">
                            <span class="text">전송</span>
                        </button> -->
                    </form>
                </div>
            </div>
        </div>
    
    </div>
</div>
<!-- /.container-fluid -->